<mat-card class="mb-4">
  <div class="row">
    <mat-list class="col">
      <h2 mat-subheader>{{ 'retreats.details.basic-info' | translate }}</h2>

      <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <h3 mat-line>{{ retreatDetails.localization }}</h3>
        <p mat-line class="mat-hint">{{ 'retreats.localization' | translate }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>event_available</mat-icon>
        <h3 mat-line>
          <reko-date-output [dateValue]="retreatDetails.startDate"></reko-date-output>
          <span> - </span>
          <reko-date-output [dateValue]="retreatDetails.endDate"></reko-date-output>
        </h3>
        <p mat-line class="mat-hint">{{ 'retreats.startDate' | translate }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>
          <div class="valign-center">
            <span>{{ retreatDetails.priestName }}</span>
            <span *ngIf="retreatDetails.priestPhoneNumber" class="pl-3">(</span>
            <mat-icon *ngIf="retreatDetails.priestPhoneNumber" class="pr-1">phone</mat-icon>
            <span *ngIf="retreatDetails.priestPhoneNumber"
              >{{ retreatDetails.priestPhoneNumber }})</span
            >
          </div>
        </h4>
        <p mat-line class="mat-hint">{{ 'retreats.priestName' | translate }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>person_outline</mat-icon>
        <h4 mat-line>
          <div class="valign-center">
            <span>{{ retreatDetails.moderatorName }}</span>
            <span *ngIf="retreatDetails.moderatorPhoneNumber" class="pl-3">(</span>
            <mat-icon *ngIf="retreatDetails.moderatorPhoneNumber" class="pr-1">phone</mat-icon>
            <span *ngIf="retreatDetails.moderatorPhoneNumber"
              >{{ retreatDetails.moderatorPhoneNumber }})</span
            >
          </div>
        </h4>
        <p mat-line class="mat-hint">{{ 'retreats.moderatorName' | translate }}</p>
      </mat-list-item>
    </mat-list>

    <mat-list class="col">
      <h2 mat-subheader>{{ 'retreats.details.participants-info' | translate }}</h2>

      <mat-list-item>
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>
          <div class="valign-center">
            <span>{{ retreatDetails.statistics.participantsAmount }}</span>
            <span class="pl-2">(</span>
            <mat-icon>child_care</mat-icon>
            <span>{{ retreatDetails.statistics.underageParticipants }})</span>
          </div>
        </h4>
        <p mat-line class="mat-hint">{{ 'retreats.details.total-number' | translate }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>invert_colors</mat-icon>
        <h4 mat-line>
          <div class="valign-center">
            <mat-icon>local_florist</mat-icon>
            <span> {{ retreatDetails.statistics.femalesParticipants }} </span>
            <span class="px-3"> </span>
            <mat-icon>directions_car</mat-icon>
            <span>{{ retreatDetails.statistics.malesParticipants }}</span>
          </div>
        </h4>
        <p mat-line class="mat-hint">{{ 'retreats.details.boys-to-girls-ratio' | translate }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>poll</mat-icon>
        <h4 mat-line>{{ retreatDetails.statistics.averageAge }}</h4>
        <p mat-line class="mat-hint">{{ 'retreats.details.average-member-age' | translate }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>school</mat-icon>
        <h4 mat-line>In progress</h4>
        <p mat-line class="mat-hint">{{ 'retreats.details.animators-quantity' | translate }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
