<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="turn">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.turn' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">{{ retreat.turn }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="stage">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.stage' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">{{ stages[retreat.stage] }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="localization">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.localization' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">{{ retreat.localization }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="participantsAmount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.participantsAmount' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">{{ retreat.participantsAmount }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="malesParticipants">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.malesParticipants' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">{{ retreat.malesParticipants }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="femalesParticipants">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.femalesParticipants' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">{{ retreat.femalesParticipants }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dates">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.dates' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">
      <reko-date-output [dateValue]="retreat.startDate"></reko-date-output>
      <span> - </span>
      <reko-date-output [dateValue]="retreat.endDate"></reko-date-output>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'retreats.list.columns.status' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">
      {{ 'retreats.status.' + retreat.status | translate }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="options">
    <mat-header-cell *matHeaderCellDef>
      {{ 'shared.list.actions.column-title' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let retreat">
      <button mat-flat-button *ngIf="registration" (click)="onRegister(retreat.id)" color="primary">
        <mat-icon>playlist_add</mat-icon> Zapisz się
      </button>
      <button mat-icon-button *ngIf="editable" (click)="onArchive(retreat.id)" color="primary">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="editable">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu>
        <reko-action-menu-buttons
          [isDelete]="true"
          [isDetails]="true"
          [isEdit]="true"
          (delete)="onDelete(retreat.id)"
          (details)="onSelect(retreat)"
          (edit)="onEdit(retreat.id)"
        >
        </reko-action-menu-buttons>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
