<div [formGroup]="form">
  <div *rekoAllowedStages="[stages.OND, stages.ONZ_I, stages.ONZ_II, stages.ONZ_III]">
    <reko-kwc-form
      [data]="experienceData.kwc"
      (formReady)="onSubFormInitialized('kwc', $event)"
    ></reko-kwc-form>
  </div>

  <reko-formation-in-community-form
    [data]="experienceData.formationInCommunity"
    (formReady)="onSubFormInitialized('formationInCommunity', $event)"
  ></reko-formation-in-community-form>

  <reko-contact-info-form
    [title]="'members.experience.animator'"
    [contactInfo]="animator"
    (formReady)="onSubFormInitialized('animatorContact', $event)"
  ></reko-contact-info-form>

  <div *rekoAllowedStages="[stages.ONZ_II, stages.ONZ_III]">
    <reko-deuterocatechumenate-form
      [data]="experienceData.deuterocatechumenate"
      (formReady)="onSubFormInitialized('deuterocatechumenate', $event)"
    ></reko-deuterocatechumenate-form>
  </div>

  <div *rekoAllowedStages="[stages.ONZ_I, stages.ONZ_II, stages.ONZ_III]">
    <reko-historical-retreats-array
      (formReady)="onSubFormInitialized('historicalRetreats', $event)"
    ></reko-historical-retreats-array>
  </div>

  <reko-talent-form
    [data]="experienceData.talents"
    (formReady)="onSubFormInitialized('talents', $event)"
  ></reko-talent-form>

  <reko-experience-as-animator-form
    [data]="experienceData.experienceAsAnimator"
    (formReady)="onSubFormInitialized('experienceAsAnimator', $event)"
  ></reko-experience-as-animator-form>
</div>
