<reko-section-header
  [title]="'members.experience.talents'"
  [iconName]="'trending_up'"
></reko-section-header>

<div [formGroup]="form">
  <div class="row">
    <mat-checkbox class="col" formControlName="choir">
      {{ 'members.experience.choir' | translate }}
    </mat-checkbox>
    <mat-checkbox class="col" formControlName="altarBoy">
      {{ 'members.experience.altarBoy' | translate }}
    </mat-checkbox>
    <mat-checkbox class="col" formControlName="flowerGirl">
      {{ 'members.experience.flowerGirl' | translate }}
    </mat-checkbox>
  </div>

  <div class="row">
    <reko-input-text
      class="col"
      [inputControl]="form.get('musicalTalents')"
      [labelKey]="'members.experience.musicalTalents'"
    ></reko-input-text>
  </div>
</div>
