<mat-card>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>{{ icon ? icon : 'people' }}</mat-icon>
      <h3 mat-line>{{ value }}</h3>
      <div mat-line>{{ label | translate }}</div>
    </mat-list-item>
  </mat-list>
</mat-card>
