<mat-card class="mb-4">
  <mat-card-subtitle>Dodatkowe</mat-card-subtitle>
  <mat-card-content>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'local_hospital'"
        [value]="data.altarBoy"
        [label]="'members.experience.altarBoy'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'local_florist'"
        [value]="data.flowerGirl"
        [label]="'members.experience.flowerGirl'"
      ></reko-details-row-element>
    </reko-details-row>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'music_note'"
        [value]="data.choir"
        [label]="'members.experience.choir'"
      ></reko-details-row-element>
    </reko-details-row>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'music_note'"
        [value]="data.musicalTalents"
        [label]="'members.experience.musicalTalents'"
      ></reko-details-row-element>
    </reko-details-row>
  </mat-card-content>
</mat-card>
