<h3 matDialogTitle>Alternatywny import</h3>
<mat-dialog-content class="import-dialog__upload-button">
  <div>
    <mat-radio-group [(ngModel)]="isAnimator" class="row">
      <mat-radio-button [value]="false" class="col">Uczestnicy</mat-radio-button>
      <mat-radio-button [value]="true" class="col">Animatorzy</mat-radio-button>
    </mat-radio-group>
  </div>
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
  <div class="file-upload">
    {{ fileName || 'Wybierz plik' }}
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close type="button">{{ 'shared.cancel' | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="fileInvalid"
    (click)="submit()"
  >
    {{ 'shared.upload.file' | translate }}
  </button>
</mat-dialog-actions>
