<mat-card class="mb-4">
  <mat-card-subtitle>
    {{ 'members.sections.parishAndCommunityDetails.parish' | translate }}
  </mat-card-subtitle>

  <span *ngIf="!parish">Brak parafii</span>

  <reko-details-row *ngIf="parish">
    <reko-details-row-element
      [value]="parish.name"
      [label]="'parish.name'"
      [icon]="'local_hospital'"
    ></reko-details-row-element>
    <reko-details-row-element
      [value]="parish.address"
      [label]="'parish.address'"
      [icon]="'location_on'"
    ></reko-details-row-element>
  </reko-details-row>
</mat-card>
