<mat-list>
  <mat-list-item>
    <mat-icon mat-list-icon>location_on</mat-icon>
    <h3 mat-line>
      <span>{{ address.streetName }}&nbsp;</span> <span>{{ address.streetNumber }}</span>
      <span>/</span> <span>{{ address.flatNumber }}</span>
    </h3>
    <p mat-line>{{ address.postalCode }} {{ address.city }}</p>
    <p mat-line class="mat-hint">{{ 'members.personalData.address.title' | translate }}</p>
  </mat-list-item>
</mat-list>
