<reko-section-header [title]="'Treść opinii'" [iconName]="'location_on'"></reko-section-header>

<mat-card>
  <div class="row">
    <mat-form-field class="col">
      <mat-label>Treść opinii</mat-label>
      <textarea
        matInput
        name="content"
        [required]="true"
        [formControl]="inputControl"
        placeholder="Tutaj wprowadź treść opinii"
      ></textarea>
    </mat-form-field>
  </div>
</mat-card>
