<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-title>
      {{ 'Opinia o uczestniku ' + (encryptedMemberId | findMemberFullNameFromEncrypted | async) }}
    </mat-card-title>
    <mat-card-content>
      <reko-opinion-submitter
        class="p-2"
        (formReady)="onSubFormInitialized('submitter', $event)"
      ></reko-opinion-submitter>
      <reko-opinion-content class="p-2" [inputControl]="content"></reko-opinion-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Wyślij</button>
    </mat-card-actions>
  </mat-card>
</form>
