<div class="container"><mat-spinner *ngIf="retreatLoading"></mat-spinner></div>
<div class="container" *ngIf="!retreatLoading">
  <ng-container>
    <mat-card>
      <mat-card-title>
        <div class="row">
          <div class="col-md-8">{{ retreatData.id | retreatTitle }}</div>
          <div class="col-md-4 button-row">
            <button mat-raised-button color="primary" (click)="onGoBack()">
              <mat-icon>navigate_before</mat-icon> {{ 'shared.details.actions.back' | translate }}
            </button>
            <button mat-stroked-button (click)="onEdit()">
              {{ 'shared.details.actions.edit' | translate }}
            </button>
            <button mat-stroked-button color="warn" (click)="onDelete()">
              {{ 'shared.details.actions.delete' | translate }}
            </button>
          </div>
        </div>
      </mat-card-title>

      <mat-card-content>
        <reko-retreat-summary [retreatDetails]="retreatData"></reko-retreat-summary>

        <mat-card>
          <mat-tab-group>
            <mat-tab label="{{ 'retreats.details.participants' | translate }}">
              <reko-members-simple-list
                [members]="allParticipants"
                (goToDetails)="goToDetails($event)"
              ></reko-members-simple-list>
            </mat-tab>

            <mat-tab label="{{ 'retreats.details.animators' | translate }}">
              <reko-members-simple-list
                [members]="allAnimators"
                (goToDetails)="goToDetails($event)"
              ></reko-members-simple-list>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
