<form [formGroup]="form" class="col-md-10">
  <mat-form-field class="field-wide">
    <input
      matInput
      type="password"
      placeholder="{{ 'usersManagement.form.password.old' | translate }}"
      formControlName="oldPassword"
    />
  </mat-form-field>
  <div formGroupName="newPassword">
    <mat-form-field class="field-wide">
      <input
        matInput
        type="password"
        placeholder="{{ 'usersManagement.form.password.new' | translate }}"
        formControlName="newPassword"
      />
      <mat-error *ngIf="passwordFormGroup.get('newPassword').hasError('required')">
        {{ 'usersManagement.form.required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-wide">
      <input
        matInput
        type="password"
        placeholder="{{ 'usersManagement.form.confirmPassword.placeholder' | translate }}"
        formControlName="confirmPassword"
        [errorStateMatcher]="groupStateMatcher"
      />
      <mat-error *ngIf="passwordFormGroup.get('confirmPassword').hasError('required')">
        {{ 'usersManagement.form.required' | translate }}
      </mat-error>
      <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
        {{ 'usersManagement.form.password.notSame' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
<button mat-button (click)="cancel()">{{ 'shared.form.actions.cancel' | translate }}</button>
<button mat-button (click)="submit()">{{ 'shared.form.actions.save' | translate }}</button>
