<button *ngIf="isEdit" mat-menu-item (click)="onEdit()">
  <mat-icon>edit</mat-icon>
  <span>{{ 'shared.list.actions.edit' | translate }}</span>
</button>
<button *ngIf="isDetails" mat-menu-item (click)="onDetails()">
  <mat-icon>assignment_ind</mat-icon>
  <span>{{ 'shared.list.actions.details' | translate }}</span>
</button>
<button *ngIf="isDelete" mat-menu-item (click)="onDelete()">
  <mat-icon>delete</mat-icon>
  <span>{{ 'shared.list.actions.remove' | translate }}</span>
</button>
