<mat-card>
  <div class="pt-2">
    <mat-card class="pt-2">
      <mat-card-header>
        <mat-card-title>{{ 'verification.application.animator.title' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Wybrane rekolekcje: {{ application.retreatId | findRetreat | async | summarizeRetreatTurn }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="pt-2">
    <reko-contact-info-details
      class="pt-2"
      [title]="'verification.application.animator.surety'"
      [contact]="application.surety"
    ></reko-contact-info-details>
  </div>
</mat-card>
