<reko-section-header
  [title]="'members.experience.deuterocatechumenate'"
  [iconName]="'local_library'"
></reko-section-header>

<div [formGroup]="form">
  <div class="row">
    <reko-input-text
      class="col"
      [inputControl]="form.get('year')"
      [labelKey]="'members.experience.deuterocatechumenateYear'"
      [errorMessageKey]="getYearValidationErrorMessage()"
    ></reko-input-text>
    <mat-form-field class="col">
      <input
        matInput
        type="number"
        min="1"
        max="10"
        placeholder="{{ 'members.experience.stepsTaken' | translate }}"
        formControlName="stepsTaken"
      />
    </mat-form-field>
    <mat-form-field class="col">
      <input
        matInput
        type="number"
        min="1"
        max="10"
        placeholder="{{ 'members.experience.stepsPlannedThisYear' | translate }}"
        formControlName="stepsPlannedThisYear"
      />
    </mat-form-field>
    <mat-form-field class="col">
      <input
        matInput
        type="number"
        min="1"
        max="10"
        placeholder="{{ 'members.experience.celebrationsTaken' | translate }}"
        formControlName="celebrationsTaken"
      />
    </mat-form-field>
    <mat-form-field class="col">
      <input
        matInput
        type="number"
        min="1"
        max="10"
        placeholder="{{ 'members.experience.celebrationsPlannedThisYear' | translate }}"
        formControlName="celebrationsPlannedThisYear"
      />
    </mat-form-field>
  </div>

  <div class="row">
    <reko-input-text
      class="col"
      [inputControl]="form.get('missionCelebrationYear')"
      [labelKey]="'members.experience.missionCelebrationYear'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [inputControl]="form.get('callByNameCelebrationYear')"
      [labelKey]="'members.experience.callByNameCelebrationYear'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [inputControl]="form.get('holyTriduumYear')"
      [labelKey]="'members.experience.holyTriduumYear'"
    ></reko-input-text>
  </div>
</div>
