<mat-card>
  <mat-card-content>
    <mat-table #table [dataSource]="membersDataSource" matSort>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'members.personalData.firstName' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let member"> {{ member.firstName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'members.personalData.lastName' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let member"> {{ member.lastName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'members.currentApplication.status' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let member">
          {{ 'members.currentApplication.paymentStatus.' + member.paymentStatus | translate }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>
          {{ 'shared.list.actions.column-title' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let member">
          <button mat-button color="primary" (click)="memberDetails(member)">
            <mat-icon>assignment_ind</mat-icon>
            {{ 'shared.list.actions.details' | translate }}
          </button>
          <button mat-button color="warn" (click)="removeMember(member)">
            <mat-icon>delete</mat-icon>
            {{ 'shared.list.actions.remove' | translate }}
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
