<mat-list>
  <mat-list-item>
    <reko-button
      [visible]="!currentMemberIsWaiting()"
      [icon]="'cached'"
      [label]="'shared.details.actions.reset-status'"
      (clicked)="changeStatus('WAITING')"
    ></reko-button>
    <reko-button
      [visible]="currentMemberIsWaiting()"
      [icon]="'done'"
      [label]="'shared.details.actions.approve'"
      (clicked)="changeStatus('VERIFIED')"
    ></reko-button>
    <reko-button
      [visible]="currentMemberIsWaiting()"
      [icon]="'block'"
      [label]="'shared.details.actions.reject'"
      (clicked)="changeStatusWithReason('REJECTED')"
    ></reko-button>
    <reko-button
      [visible]="!isProblemWithCurrentMember()"
      [icon]="'report_problem'"
      [label]="'shared.details.actions.problem'"
      (clicked)="changeStatus('PROBLEM')"
    ></reko-button>
  </mat-list-item>
</mat-list>
