.retreat-details__section {
  height: 90%;
  width: 75%;
}

.retreat-details-buttons {
  margin-bottom: 10px;
}

.retreat-details-buttons__right {
  float: right;
}

.retreat-details__add {
  width: 100%;
}

.button-row button {
  margin-right: 7px;
}

i.material-icon {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}
