<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-label>Podaj powód odrzucenia</mat-label>
      <mat-form-field> <textarea matInput formControlName="reason"></textarea> </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSubmit()">{{ 'shared.delete-confirm.yes' | translate }}</button>
    <button mat-button (click)="onCancel()">
      {{ 'shared.delete-confirm.cancel' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
