<mat-card class="mb-4">
  <mat-card-subtitle>{{ 'members.experience.kwcMembership' | translate }}</mat-card-subtitle>
  <mat-card-content>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'person'"
        [value]="kwcStatusValue"
        [label]="'members.experience.kwcStatus'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'event_available'"
        [value]="kwcSince"
        [label]="'members.experience.kwcSince'"
      ></reko-details-row-element>
    </reko-details-row>
  </mat-card-content>
</mat-card>
