<div *ngIf="historicalRetreats && historicalRetreats.length > 0">
  <mat-card class="mb-4">
    <mat-card-subtitle>
      {{ 'members.experience.historicalRetreats' | translate }}
    </mat-card-subtitle>
    <ng-container *ngFor="let retreat of historicalRetreats">
      <reko-historical-retreats-details-element
        [retreatTurnData]="retreat"
      ></reko-historical-retreats-details-element>
    </ng-container>
  </mat-card>
</div>
