<form [formGroup]="form" class="col-md-10">
  <mat-form-field class="field-wide">
    <mat-select required placeholder="{{ 'retreats.turn' | translate }}" formControlName="turn">
      <mat-option *ngFor="let turn of turnsKeys" [value]="turn"> {{ turns[turn] }} </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('turn').invalid">
      {{ 'retreats.validation.turn' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <mat-select required placeholder="{{ 'retreats.stage' | translate }}" formControlName="stage">
      <mat-option *ngFor="let stage of stagesKeys" [value]="stage">
        {{ stages[stage] }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('stage').invalid">
      {{ 'retreats.validation.stage' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input
      matInput
      required
      placeholder="{{ 'retreats.localization' | translate }}"
      formControlName="localization"
    />
    <mat-error *ngIf="form.get('localization').invalid">{{
      'retreats.validation.localization' | translate
    }}</mat-error>
  </mat-form-field>
  <reko-datepicker
    [id]="'pickerForStartDate'"
    [labelKey]="'retreats.startDate'"
    [inputControl]="form.get('startDate')"
  ></reko-datepicker>
  <reko-datepicker
    [id]="'pickerForEndDate'"
    [inputControl]="form.get('endDate')"
    [labelKey]="'retreats.endDate'"
  ></reko-datepicker>
  <mat-form-field class="field-wide">
    <input
      matInput
      placeholder="{{ 'retreats.priestName' | translate }}"
      formControlName="priestName"
    />
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input
      matInput
      placeholder="{{ 'retreats.priestPhoneNumber' | translate }}"
      formControlName="priestPhoneNumber"
    />
    <mat-hint>
      <mat-error *ngIf="priestPhoneNumber.touched && priestPhoneNumber.invalid">
        {{ 'shared.form.validation.phoneNumber' | translate }}
      </mat-error>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input
      matInput
      placeholder="{{ 'retreats.moderatorName' | translate }}"
      formControlName="moderatorName"
    />
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input
      matInput
      placeholder="{{ 'retreats.moderatorPhoneNumber' | translate }}"
      formControlName="moderatorPhoneNumber"
    />
    <mat-hint>
      <mat-error *ngIf="moderatorPhoneNumber.touched && moderatorPhoneNumber.invalid">
        {{ 'shared.form.validation.phoneNumber' | translate }}
      </mat-error>
    </mat-hint>
  </mat-form-field>
</form>

<mat-action-row>
  <button mat-button color="warn" (click)="cancel()">
    {{ 'shared.form.actions.cancel' | translate }}
  </button>
  <button mat-button color="primary" (click)="submit()">
    {{ 'shared.form.actions.save' | translate }}
  </button>
</mat-action-row>
