<mat-card>
  <div class="pt-2">
    <mat-card class="pt-2">
      <mat-card-header>
        <mat-card-title>{{ 'verification.application.animator.title' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-selection-list #selectedRetreat>
          <mat-list-option
            *ngFor="let retreatId of application.availability"
            [value]="retreatId"
            [selected]="retreatId === application.retreatId"
            (click)="onSelectRetreat()"
          >
            <mat-icon mat-list-icon>home</mat-icon>
            <h3 mat-line>{{ retreatId | findRetreat | async | summarizeRetreatTurn }}</h3>
          </mat-list-option>
        </mat-selection-list>
        <h5 class="p-2">{{ 'verification.application.animator.animatorRoles' | translate }}</h5>
        <mat-chip-list class="p-2" [multiple]="false" [selectable]="true">
          <mat-chip
            *ngFor="let role of application.animatorRoles"
            [selected]="isRoleSelected(role)"
            (click)="toggleRoleSelection(role)"
          >
            {{ role }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!isReadyToBeAssigned()"
          (click)="assignApplication()"
        >
          <mat-icon>send</mat-icon>
          {{ 'verification.application.animator.assign-animator-action' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="pt-2">
    <reko-contact-info-details
      class="pt-2"
      [title]="'verification.application.animator.surety'"
      [contact]="application.surety"
    ></reko-contact-info-details>
  </div>

  <!-- Transportation, certification, certification contact -->
  <reko-transportation-details
    class="pt-2"
    [title]="'Dojazd'"
    [data]="application.transportation"
  ></reko-transportation-details>

  <reko-certification-details class="pt-2"></reko-certification-details>
</mat-card>
