<div class="container-fluid pt-2">
  <mat-card>
    <mat-card-content>
      Tutaj moderator będzie mógł obejrzeć sobie swój turnus rekolekcyjny i wyeksportować sobie dane
      uczestników.
    </mat-card-content>
  </mat-card>
</div>
