<mat-card *ngIf="contact">
  <mat-card-header>
    <mat-card-title>{{ title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'person'"
        [value]="contact.fullName"
        [label]="'members.personalData.contact.name'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'mail'"
        [value]="contact.email"
        [label]="'members.personalData.contact.email'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'phone'"
        [value]="contact.phoneNumber"
        [label]="'members.personalData.contact.phoneNumber'"
      ></reko-details-row-element>
    </reko-details-row>
  </mat-card-content>
</mat-card>
