<div class="container-fluid pt-2">
  <div class="row">
    <div class="col"><reko-individual-retreats></reko-individual-retreats></div>
    <div class="col"><reko-active-retreats-list></reko-active-retreats-list></div>
  </div>
</div>
