<h2 mat-dialog-title>{{ dialogTitle | async }}</h2>
<mat-dialog-content>
  <reko-community-form [community]="community" (formOutput)="onFormOutput($event)">
  </reko-community-form>
</mat-dialog-content>
