<mat-accordion class="expansion-panel-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ 'members.sections.personalData.title' | translate }} </mat-panel-title>
      <mat-panel-description>
        {{ 'members.sections.personalData.description' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <personal-data [personalData]="member.personalData"></personal-data>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ 'members.sections.parishDetails.title' | translate }} </mat-panel-title>
      <mat-panel-description>
        {{ 'members.sections.parishDetails.description' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <reko-community-details
      [community]="member.personalData.communityId | findCommunity | async"
    ></reko-community-details>
    <parish-details [parish]="member.personalData.parishId | findParish | async"></parish-details>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ 'members.sections.healthReport.title' | translate }} </mat-panel-title>
      <mat-panel-description>
        {{ 'members.sections.healthReport.description' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <health-report
      [healthReportData]="member.healthReport ? member.healthReport : {}"
    ></health-report>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ 'members.sections.experience.title' | translate }} </mat-panel-title>
      <mat-panel-description>
        {{ 'members.sections.experience.description' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <experience-details [experienceData]="member.experience"></experience-details>
  </mat-expansion-panel>
</mat-accordion>
