<div class="container p-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <reko-add-edit-application-wizard
        [isAnimator]="animator"
        [application]="editMode ? (selectedApplication$ | async) : null"
        [retreats]="retreats$ | async"
        (submit)="onSubmit($event)"
      ></reko-add-edit-application-wizard>
    </mat-card-content>
  </mat-card>
</div>
