<div class="container-fluid">
  <mat-card>
    <mat-card-title class="d-flex">
      <div class="mr-auto">{{ title | translate }}</div>

      <div *ngIf="canAddNew">
        <button mat-button (click)="onAddNewMember()" type="button">
          <mat-icon>add</mat-icon>
          {{ 'shared.list.actions.add' | translate }}
        </button>
        <button mat-button (click)="onImportMembers()" type="button">
          <mat-icon>import_export</mat-icon>
          {{ 'shared.list.actions.importData' | translate }}
        </button>
        <div class="export-data-button">
          <a [download]="defaultFileName" [href]="exportMembersUrl">
            <button mat-button type="button">
              <mat-icon>cloud_download</mat-icon>
              {{ 'shared.list.actions.exportData' | translate }}
            </button>
          </a>
        </div>
      </div>
    </mat-card-title>

    <reko-shared-members-table-filtering
      [visibleFilters]="filters"
      (filterChange)="onFilterChange($event)"
    ></reko-shared-members-table-filtering>

    <mat-progress-spinner *ngIf="membersLoading; else: membersTable"></mat-progress-spinner>

    <ng-template #membersTable>
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >{{ 'members.list.columns.firstName' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member"> {{ member.firstName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >{{ 'members.list.columns.lastName' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">{{ member.lastName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >{{ 'members.list.columns.age' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">{{ member.age }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="applyingForRetreatTurn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.currentApplicationStage' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">
            {{ member.applyingForRetreatTurn | findRetreat | async | summarizeRetreatTurn }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="memberStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.memberStatus' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">
            <reko-member-status [memberStatus]="member.memberStatus"></reko-member-status>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paymentStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.paymentStatus' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">
            <reko-payment-status [paymentStatus]="member.paymentStatus"></reko-payment-status>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="community">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.community' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">
            {{ member.communityId | findCommunity | async | formatCommunity }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="parish">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.parish' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">
            {{ member.parishId | findParish | async | formatParish }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef>
            {{ 'shared.list.actions.column-title' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let member">
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu>
              <reko-action-menu-buttons
                [isDelete]="editable"
                [isDetails]="hasDetails"
                [isEdit]="editable"
                (delete)="onDeleteMember(member)"
                (details)="onSelectMember(member)"
                (edit)="onEditMember(member)"
              >
              </reko-action-menu-buttons>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onSelectMember(row); $event.stopPropagation()"
        ></mat-row>
      </mat-table>
    </ng-template>

    <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </mat-card>
</div>
