.options-buttons {
  display: flex;
}

.btn-space {
  margin-right: 5px;
}

.export-data-button {
  display: inline;
}

.export-data-button > a {
  color: black;
  text-decoration: none;
}

mat-row:hover {
  background: whitesmoke;
}

mat-row:active {
  background: #efefef;
}
