<mat-form-field class="field-wide">
  <input
    matInput
    [required]="required"
    [placeholder]="labelKey | translate"
    [formControl]="inputControl"
  />
  <mat-hint>
    <mat-error *ngIf="inputControl.touched && inputControl.invalid">
      {{ errorMessageKey | translate }}
    </mat-error>
  </mat-hint>
</mat-form-field>
