<div *ngIf="!data">Brak danych o dojeździe.</div>
<mat-card *ngIf="data">
  <mat-card-header>
    <mat-card-title>{{ title | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'person'"
        [value]="data.to"
        [label]="'members.personalData.contact.name'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'mail'"
        [value]="data.to"
        [label]="'members.personalData.contact.email'"
      ></reko-details-row-element>
    </reko-details-row>
  </mat-card-content>
</mat-card>
