<reko-section-header
  [title]="'Dane osoby wysyłającej opinię'"
  [iconName]="'location_on'"
></reko-section-header>

<mat-card>
  <div [formGroup]="form">
    <div class="row">
      <reko-input-text
        class="col"
        [inputControl]="form.get('fullName')"
        [required]="true"
        [labelKey]="'members.personalData.contact.fullName'"
        [errorMessageKey]="'Wymagane'"
      ></reko-input-text>

      <reko-input-text
        class="col"
        [inputControl]="form.get('phoneNumber')"
        [required]="true"
        [labelKey]="'members.personalData.contact.phoneNumber'"
        [errorMessageKey]="'Wymagane'"
      ></reko-input-text>

      <reko-input-text
        class="col"
        [inputControl]="form.get('email')"
        [required]="true"
        [labelKey]="'members.personalData.contact.email'"
        [errorMessageKey]="'Wymagane'"
      ></reko-input-text>
    </div>
  </div>
</mat-card>
