<mat-card class="container">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ title | async }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <participiant-form
      [member]="editing ? (memberToEdit$ | async) : null"
      (formOutput)="onFormSubmit($event)"
    ></participiant-form>
  </mat-card-content>
</mat-card>
