<reko-contact-info-details
  [title]="'members.experience.animator'"
  [contact]="experienceData.animator"
></reko-contact-info-details>

<reko-formation-in-community-details
  [data]="experienceData.formationInCommunity ? experienceData.formationInCommunity : {}"
></reko-formation-in-community-details>

<reko-deuterocatechumenate-details
  [data]="experienceData.deuterocatechumenate"
></reko-deuterocatechumenate-details>

<reko-kwc-details [data]="experienceData.kwc"></reko-kwc-details>

<reko-talent-details
  [data]="experienceData.talents ? experienceData.talents : {}"
></reko-talent-details>

<reko-historical-retreats-details
  [historicalRetreats]="experienceData.historicalRetreats"
></reko-historical-retreats-details>

<reko-experience-as-animator-details
  [data]="experienceData.experienceAsAnimator ? experienceData.experienceAsAnimator : {}"
></reko-experience-as-animator-details>
