<mat-card-content>
  <div class="row">
    <div class="col">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>local_hospital</mat-icon>
          <h3 mat-line>{{ retreatTurnData.stage + ' - ' + retreatTurnData.year }}</h3>
          <p mat-line class="mat-hint">{{ 'members.experience.retreat.stage' | translate }}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-card-content>
