<div class="container-fluid">
  <mat-card>
    <mat-card-title>{{ 'retreats.list.title' | translate }}</mat-card-title>
    <mat-tab-group>
      <mat-tab label="{{ 'retreats.status.ACTIVE' | translate }}">
        <retreats-list
          [retreatsSummary]="availableRetreats$ | async"
          (deleteRetreat)="onDeleteRetreatHandler($event)"
          (editRetreat)="onEditRetreatHandler($event)"
          (onSelectRetreat)="onSelectRetreatHandler($event)"
        >
        </retreats-list>
      </mat-tab>

      <mat-tab label="{{ 'retreats.status.HISTORICAL' | translate }}">
        <retreats-list
          [retreatsSummary]="historicalRetreats$ | async"
          (deleteRetreat)="onDeleteRetreatHandler($event)"
          (editRetreat)="onEditRetreatHandler($event)"
          (onSelectRetreat)="onSelectRetreatHandler($event)"
        >
        </retreats-list>
      </mat-tab>
    </mat-tab-group>

    <button mat-button (click)="addNew()">
      <mat-icon>add</mat-icon>{{ 'shared.list.actions.add' | translate }}
    </button>
  </mat-card>
</div>
