<div class="container-fluid pt-2">
  <reko-verification-stats
    class="container-fluid p-2"
    [stats]="stats$ | async"
    [activeRetreats]="activeRetreats$ | async"
  ></reko-verification-stats>

  <mat-card> <reko-application-list></reko-application-list> </mat-card>
</div>
