<div *ngIf="id; let picker = id">
  <mat-form-field class="field-wide">
    <input
      matInput
      [matDatepicker]="picker"
      [placeholder]="labelKey | translate"
      (dateInput)="onDateChanged($event)"
      (dateChange)="onDateChanged($event)"
      [value]="value"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
