<div class="row">
  <div class="col">
    <reko-single-stat
      [value]="stats.numberOfActiveApplications"
      [label]="'verification.stats.registered'"
    ></reko-single-stat>
  </div>

  <div class="col">
    <reko-single-stat
      [value]="stats.alreadyVerified"
      [label]="'verification.stats.already-verified'"
    ></reko-single-stat>
  </div>

  <div class="col">
    <reko-single-stat
      [value]="stats.remainingToVerify"
      [label]="'verification.stats.members-to-verify'"
    ></reko-single-stat>
  </div>

  <div class="col">
    <reko-single-stat
      [value]="stats.participantsRemaining"
      [label]="'verification.stats.participants-to-verify'"
    ></reko-single-stat>
  </div>

  <div class="col">
    <reko-single-stat
      [value]="stats.animatorsRemaining"
      [label]="'verification.stats.animators-to-verify'"
    ></reko-single-stat>
  </div>

  <div class="col">
    <reko-single-stat
      [value]="numberOfActiveRetreats"
      [label]="'verification.stats.active-retreats'"
    ></reko-single-stat>
  </div>
</div>
