<div class="container-fluid">
  <form [formGroup]="form" class="row">
    <mat-form-field>
      <mat-label>{{ 'verification.list.filter.label' | translate }}</mat-label>
      <mat-select formControlName="stage">
        <mat-option> {{ 'verification.list.filter.all' | translate }} </mat-option>
        <mat-option [value]="'animators'">
          {{ 'verification.list.filter.animators' | translate }}
        </mat-option>
        <mat-option *ngFor="let stage of stagesKeys" [value]="stage">
          {{ 'members.list.filters.stage.' + stage | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
