<button *rekoAuthRoles="['ADMIN']" mat-icon-button (click)="navigateToUserList()">
  <mat-icon>group</mat-icon>
</button>
<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon> {{ username }}
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <ng-container [ngSwitch]="isAuthenticated">
    <div *ngSwitchCase="true">
      <button mat-menu-item (click)="userProfile()">
        <mat-icon>warning</mat-icon> {{ 'navigation.user.profile' | translate }}
      </button>
      <button mat-menu-item (click)="onLogout()">{{ 'navigation.user.logout' | translate }}</button>
    </div>
    <a *ngSwitchCase="false" mat-menu-item [routerLink]="['/', 'auth', 'login']">
      {{ 'navigation.user.login' | translate }}
    </a>
  </ng-container>
</mat-menu>
