<h2 mat-dialog-title>{{ dialogTitle | translate }}</h2>
<mat-dialog-content class="dialog">
  <retreat-form [retreatData]="retreatData" (formOutput)="submit($event)"> </retreat-form>
</mat-dialog-content>
