<mat-card>
  <reko-details-row>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.cannotHike"
      [label]="'members.healthReport.cannotHike'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.hasMotionSickness"
      [label]="'members.healthReport.hasMotionSickness'"
    ></reko-details-row-element>
  </reko-details-row>

  <reko-details-row>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.currentTreatment"
      [label]="'members.healthReport.currentTreatment'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.allergies"
      [label]="'members.healthReport.allergies'"
    ></reko-details-row-element>
  </reko-details-row>

  <reko-details-row>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.hikingContraindications"
      [label]="'members.healthReport.illnessHistory'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.medications"
      [label]="'members.healthReport.medications'"
    ></reko-details-row-element>
  </reko-details-row>

  <reko-details-row>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.mentalDisorders"
      [label]="'members.healthReport.mentalDisorders'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.medicalDiet"
      [label]="'members.healthReport.medicalDiet'"
    ></reko-details-row-element>
  </reko-details-row>

  <reko-details-row>
    <reko-details-row-element
      [icon]="'local_hospital'"
      [value]="healthReportData.other"
      [label]="'members.healthReport.other'"
    ></reko-details-row-element>
  </reko-details-row>
</mat-card>
