<mat-card>
  <mat-card-header>
    <h3>{{ 'registration.individual.title' | translate }}</h3>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <div mat-subheader>{{ 'registration.individual.active' | translate }}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>hourglass_empty</mat-icon>
        <div mat-line>ODB</div>
        <div mat-line>Turnus I: 23.07 - 11.08</div>
        <div mat-line>Animator</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>hourglass_empty</mat-icon>
        <div mat-line>ONŻ 2</div>
        <div mat-line>Turnus II: 23.07 - 11.08</div>
        <div mat-line>Uczestnik</div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <div mat-subheader>{{ 'registration.individual.past' | translate }}</div>
      <mat-list-item>
        <mat-icon mat-list-icon>hourglass_full</mat-icon>
        <div mat-line>ONŻ 1</div>
        <div mat-line>2018</div>
        <div mat-line>Uczestnik</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>hourglass_full</mat-icon>
        <div mat-line>ODB</div>
        <div mat-line>2017</div>
        <div mat-line>Uczestnik</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>hourglass_full</mat-icon>
        <div mat-line>OND</div>
        <div mat-line>2016</div>
        <div mat-line>Uczestnik</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
