<div [formGroup]="form">
  <reko-input-text
    [inputControl]="form.get('currentTreatment')"
    [labelKey]="'members.healthReport.currentTreatment'"
  ></reko-input-text>
  <reko-input-text
    [inputControl]="form.get('mentalDisorders')"
    [labelKey]="'members.healthReport.mentalDisorders'"
  ></reko-input-text>
  <reko-input-text
    [inputControl]="form.get('medications')"
    [labelKey]="'members.healthReport.medications'"
  ></reko-input-text>
  <reko-input-text
    [inputControl]="form.get('allergies')"
    [labelKey]="'members.healthReport.allergies'"
  ></reko-input-text>
  <reko-input-text
    [inputControl]="form.get('medicalDiet')"
    [labelKey]="'members.healthReport.medicalDiet'"
  ></reko-input-text>
  <reko-input-text
    [inputControl]="form.get('illnessHistory')"
    [labelKey]="'members.healthReport.illnessHistory'"
  ></reko-input-text>
  <mat-checkbox formControlName="cannotHike" color="primary" class="field-wide">
    {{ 'members.healthReport.cannotHike' | translate }}
  </mat-checkbox>
  <mat-checkbox formControlName="hasMotionSickness" color="primary" class="field-wide">
    {{ 'members.healthReport.hasMotionSickness' | translate }}
  </mat-checkbox>
  <reko-input-text
    [inputControl]="form.get('other')"
    [labelKey]="'members.healthReport.other'"
  ></reko-input-text>
</div>
