<div *ngIf="!isNeeded">Zaświadczenie o rekolekcjach nie jest potrzebne.</div>
<mat-card *ngIf="isNeeded">
  <mat-card-header>
    <mat-card-title>Zaświadczenie o rekolekcjach wystawić na</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <reko-contact-info-details
      class="pt-2"
      [title]="'verification.application.certification.contact'"
      [contact]="contact"
    ></reko-contact-info-details>
  </mat-card-content>
</mat-card>
