<mat-list>
  <mat-list-item>
    <reko-button
      [visible]="!memberPaidNothing()"
      [icon]="'payment'"
      [label]="'shared.details.actions.reset-payment'"
      (clicked)="changePaymentStatus('NOTHING')"
    ></reko-button>
    <reko-button
      [visible]="memberPaidNothing()"
      [icon]="'payment'"
      [label]="'shared.details.actions.down-payment'"
      (clicked)="changePaymentStatus('DOWN_PAYMENT')"
    ></reko-button>
    <reko-button
      [visible]="!memberPaidFull()"
      [icon]="'payment'"
      [label]="'shared.details.actions.full-payment'"
      (clicked)="changePaymentStatus('FULL')"
    ></reko-button>
  </mat-list-item>
</mat-list>
