<div [formGroup]="form">
  <reko-section-header [title]="'Aktualne zgłoszenie'" [iconName]="'person'"></reko-section-header>

  <mat-form-field>
    <mat-label>Dostępność</mat-label>
    <mat-select formControlName="availability" multiple>
      <mat-option *ngFor="let retreat of retreats" [value]="retreat.id">
        {{ retreat | summarizeRetreatTurn }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Funkcje</mat-label>
    <mat-select formControlName="animatorRoles" multiple>
      <mat-option [value]="'GROUP'">Animator grupy</mat-option>
      <mat-option [value]="'MUSICIAN'">Animator muzyczny</mat-option>
      <mat-option [value]="'LITURGIST'">Animator liturgiczny</mat-option>
      <mat-option [value]="'QUARTERMASTER'">Animator gospodarczy</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dodatkowe informacje</mat-label>
    <mat-select formControlName="otherInfo" multiple>
      <mat-option>Prawo jazdy kat. B</mat-option>
      <mat-option>Kurs wychowawców</mat-option>
      <mat-option>Kurs pierwszej pomocy</mat-option>
      <mat-option>Książeczka sanepidu</mat-option>
      <mat-option>Dobrze/chętnie śpiewa, pomoże muzycznie</mat-option>
      <mat-option>Gra na instrumencie</mat-option>
      <mat-option>Umiejętności plastyczne</mat-option>
      <mat-option>Wykształcenie pedagogiczne</mat-option>
      <mat-option>Wykształcenie medyczne</mat-option>
    </mat-select>
  </mat-form-field>

  <reko-contact-info-form
    [title]="'Osoba poręczająca'"
    [contactInfo]="surety"
    (formReady)="onSubFormInitialized('surety', $event)"
  ></reko-contact-info-form>
</div>

<!-- <h2 class="mat-h2">Form value</h2> -->
<!-- {{ form.value | json }} -->
