<div [formGroup]="form">
  <reko-transportation-form
    [data]="transportation"
    (formReady)="onSubFormInitialized('transportation', $event)"
  ></reko-transportation-form>

  <reko-section-header
    [title]="'verification.application.certification.title' | translate"
    [iconName]="'person'"
  ></reko-section-header>

  <mat-checkbox formControlName="certificationNeeded">
    {{ 'verification.application.certification.needed' | translate }}
  </mat-checkbox>

  <reko-contact-info-form
    [title]="'verification.application.certification.contact' | translate"
    [contactInfo]="certificationContact"
    (formReady)="onSubFormInitialized('certificationContact', $event)"
  ></reko-contact-info-form>

  <reko-section-header
    [title]="'verification.application.otherInfo' | translate"
    [iconName]="'person'"
  ></reko-section-header>
  <reko-input-text
    class="col"
    [inputControl]="otherInfoControl"
    [labelKey]="'verification.application.otherInfoHint'"
  ></reko-input-text>
</div>
