<div class="row">
  <div class="col" *ngFor="let element of elements">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>{{ element.icon }}</mat-icon>
        <h3 mat-line>{{ element.value }}</h3>
        <p mat-line class="mat-hint">{{ element.label | translate }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
