<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="retreatApplicationForm" [label]="'Zgłoszenie'">
    <div *ngIf="isAnimator">
      <reko-animator-application-form
        [retreats]="retreats"
        [data]="application"
        (formReady)="onSubFormInitialized('retreatApplication', $event)"
      ></reko-animator-application-form>
    </div>
    <div *ngIf="!isAnimator">
      <reko-participant-application-form
        [retreats]="retreats"
        [data]="application"
        (formReady)="onSubFormInitialized('retreatApplication', $event)"
      ></reko-participant-application-form>
    </div>
    <reko-wizard-buttons [hasPrevious]="false"></reko-wizard-buttons>
  </mat-step>

  <mat-step
    [stepControl]="personalDataForm"
    [label]="'Dane osobowe'"
    errorMessage="Formularz zawiera błędy."
  >
    <reko-personal-data-form
      [personalData]="personalData"
      (formReady)="onSubFormInitialized('personalData', $event)"
    ></reko-personal-data-form>
    <reko-wizard-buttons></reko-wizard-buttons>
  </mat-step>

  <mat-step [stepControl]="healthReportForm" [label]="'Dane zdrowotne'">
    <reko-health-report-form
      [healthReportData]="healthReport"
      (formReady)="onSubFormInitialized('healthReport', $event)"
    ></reko-health-report-form>
    <reko-wizard-buttons></reko-wizard-buttons>
  </mat-step>

  <mat-step [stepControl]="experienceForm" [label]="'Doświadczenie'">
    <reko-experience-form
      [experienceData]="experience"
      (formReady)="onSubFormInitialized('experience', $event)"
    ></reko-experience-form>
    <reko-wizard-buttons></reko-wizard-buttons>
  </mat-step>

  <mat-step [label]="'Podsumowanie'">
    <mat-card>
      <mat-card-content>
        <p>Tutaj będą wyświetlone zgody na przetwarzanie danych itp.</p>
        <reko-application-summary-form [data]="application"></reko-application-summary-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!fullForm.valid" (click)="onSubmit()">
          <mat-icon>save</mat-icon>{{ 'shared.form.actions.save' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
    <div class="mt-2">
      <reko-wizard-buttons
        [hasNext]="false"
        [hasReset]="true"
        [stepper]="stepper"
      ></reko-wizard-buttons>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- <h2 class="mat-h2">Form value</h2> -->
<!-- {{ fullForm.value | json }} -->
