.expansion-panel-headers-align .mat-expansion-panel-header-title,
.expansion-panel-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.expansion-panel-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
