<mat-action-row class="d-flex flex-row-reverse">
  <button mat-button color="warn" (click)="cancel()">
    {{ 'shared.form.actions.cancel' | translate }}
  </button>
  <button mat-button color="primary" (click)="submit()">
    {{ 'shared.form.actions.save' | translate }}
  </button>
</mat-action-row>

<form [formGroup]="form">
  <mat-horizontal-stepper [linear]="true">
    <mat-step
      label="{{'members.sections.personalData.title' | translate}}"
      [stepControl]="form.get('personalData')"
    >
      <reko-personal-data-form
        [personalData]="member.personalData"
        (formReady)="onSubFormInitialized('personalData', $event)"
      ></reko-personal-data-form>
      <mat-action-row>
        <button mat-raised-button color="primary" matStepperNext type="button" class="ml-1">
          {{ 'shared.form.actions.next' | translate }}
        </button>
      </mat-action-row>
    </mat-step>

    <mat-step
      label="{{'members.sections.healthReport.title' | translate}}"
      [stepControl]="form.get('healthReport')"
    >
      <reko-health-report-form
        [healthReportData]="member.healthReport ? member.healthReport : {}"
        (formReady)="onSubFormInitialized('healthReport', $event)"
      ></reko-health-report-form>
      <div>
        <button mat-raised-button matStepperPrevious type="button">
          {{ 'shared.form.actions.previous' | translate }}
        </button>
        <button mat-raised-button color="primary" matStepperNext type="button" class="ml-2">
          {{ 'shared.form.actions.next' | translate }}
        </button>
      </div>
    </mat-step>

    <mat-step
      label="{{'members.sections.experience.title' | translate}}"
      [stepControl]="form.get('experience')"
    >
      <reko-experience-form
        [experienceData]="member.experience ? member.experience : {}"
        (formReady)="onSubFormInitialized('experience', $event)"
      >
      </reko-experience-form>
      <div>
        <button mat-raised-button matStepperPrevious type="button">
          {{ 'shared.form.actions.previous' | translate }}
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>

<!-- <h2 class="mat-h2">Form value</h2> -->
<!-- {{ form.value | json }} -->
