<div>
  <button *ngIf="hasPrevious" mat-raised-button matStepperPrevious class="mx-2">
    <mat-icon>chevron_left</mat-icon> Wstecz
  </button>
  <button *ngIf="hasNext" mat-raised-button matStepperNext color="primary" class="mx-2">
    Dalej <mat-icon>chevron_right</mat-icon>
  </button>
  <button *ngIf="hasReset" mat-raised-button (click)="stepper.reset()" class="mx-2">
    <mat-icon>clear</mat-icon> Resetuj
  </button>
</div>
