/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  height: 100vh;
}

.field-wide {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.form-heading {
  display: flex;
  /*box-sizing: border-box;*/
  /*padding: 16px;*/
  align-items: center;
}
