<mat-form-field class="field-wide">
  <mat-select
    id="parishSelect"
    placeholder="{{ 'members.form.parish-prompt' | translate }}"
    [formControl]="inputControl"
    [(value)]="value"
  >
    <mat-option *ngFor="let parish of (parishes$ | async)" [value]="parish.id">
      {{ parish.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
