<div class="container sign-up-page sign-up-page__card">
  <mat-card>
    <mat-card-header>Zarejestruj się w systemie!</mat-card-header>
    <mat-card-content>
      <reko-user-form
        [showPasswordForm]="true"
        [showActiveForm]="false"
        [showRolesForm]="false"
        (formOutput)="onSubmit($event)"
      ></reko-user-form>
    </mat-card-content>
  </mat-card>
</div>
