<div class="container-fluid">
  <mat-card>
    <mat-card-title> {{ 'usersManagement.list.users' | translate }} </mat-card-title>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'usersManagement.list.username' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.username }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'usersManagement.list.roles' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ displayRoles(user.roles) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'usersManagement.list.email' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'usersManagement.list.enabled' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <mat-slide-toggle
            [color]="'primary'"
            [checked]="user.enabled"
            (change)="toggleActiveUser(user)"
          ></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef
          >{{ 'shared.list.actions.column-title' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-raised-button (click)="openChangePasswordDialog(user.username)">
            {{ 'usersManagement.list.changePassword' | translate }}
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu>
            <reko-action-menu-buttons
              [isDelete]="true"
              [isEdit]="true"
              (delete)="openConfirmDeleteAlert(user.username)"
              (edit)="openEditUserDialog(user)"
            ></reko-action-menu-buttons>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    <button mat-button (click)="openSignUpUserDialog()">
      <mat-icon>add</mat-icon> {{ 'shared.list.actions.add' | translate }}
    </button>
  </mat-card>
</div>
