<mat-form-field class="field-wide">
  <mat-select
    placeholder="{{ 'members.personalData.community' | translate }}"
    [formControl]="inputControl"
    [(value)]="value"
  >
    <mat-option *ngFor="let community of (communities$ | async)" [value]="community.id">
      {{ community.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
