<div class="container-fluid">
  <form [formGroup]="form" class="row">
    <mat-form-field class="participants-filter__field col" *ngIf="shouldDisplayFilter('animator')">
      <mat-select
        formControlName="selectedDisplayOption"
        [placeholder]="'members.list.filters.display-options.title' | translate"
      >
        <mat-option value="ALL_MEMBERS">
          {{ 'members.list.filters.display-options.ALL_MEMBERS' | translate }}
        </mat-option>
        <mat-option value="ONLY_PARTICIPANTS">
          {{ 'members.list.filters.display-options.ONLY_PARTICIPANTS' | translate }}
        </mat-option>
        <mat-option value="ONLY_ANIMATORS">
          {{ 'members.list.filters.display-options.ONLY_ANIMATORS' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="participants-filter__field col" *ngIf="shouldDisplayFilter('status')">
      <mat-select
        formControlName="memberStatus"
        [placeholder]="'members.list.filters.memberStatusDisplayOptions.title' | translate"
      >
        <mat-option>
          {{ 'members.list.filters.memberStatusDisplayOptions.ALL' | translate }}
        </mat-option>
        <mat-option *ngFor="let selectedStatus of memberStatusKeys" [value]="selectedStatus">
          {{ 'members.list.filters.memberStatusDisplayOptions.' + selectedStatus | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="participants-filter__field col" *ngIf="shouldDisplayFilter('stage')">
      <mat-select
        formControlName="stage"
        [placeholder]="'members.list.filters.stage.title' | translate"
      >
        <mat-option> {{ 'members.list.filters.stage.ALL' | translate }} </mat-option>
        <mat-option *ngFor="let selectedStage of stagesKeys" [value]="selectedStage">
          {{ 'members.list.filters.stage.' + selectedStage | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="participants-filter__field col" *ngIf="shouldDisplayFilter('turn')">
      <mat-select
        formControlName="turn"
        [placeholder]="'members.list.filters.turn.title' | translate"
      >
        <mat-option> {{ 'members.list.filters.turn.ALL' | translate }} </mat-option>
        <mat-option *ngFor="let selectedTurn of turnKeys" [value]="selectedTurn">
          {{ 'members.list.filters.turn.' + selectedTurn | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="participants-filter__field col"
      *ngIf="shouldDisplayFilter('firstOrLastName')"
    >
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        formControlName="firstOrLastName"
        [placeholder]="'members.list.filters.first-last-name' | translate"
      />
    </mat-form-field>

    <mat-form-field class="participants-filter__field col" *ngIf="shouldDisplayFilter('community')">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        formControlName="community"
        [placeholder]="'members.list.filters.community' | translate"
      />
    </mat-form-field>
  </form>
</div>
