<div class="container-fluid">
  <div class="align-content-center">
    <div class="center">
      <h2 align="center">{{ 'title' | translate }}</h2>
      <h5 align="center">{{ 'subtitle' | translate }}</h5>
    </div>

    <div align="center" style="padding-top: 18px">
      <h5>{{ 'home.summary.we-registered' | translate }}</h5>

      <div>
        <p>
          <span>{{ participantsNumber }}</span> {{ 'home.summary.participants' | translate }}
        </p>
        <p>
          <span>{{ animatorsNumber }}</span> {{ 'home.summary.animators' | translate }}
        </p>
        <p>
          <span>{{ communitiesNumber }}</span> {{ 'home.summary.communities' | translate }}
        </p>
        <p>
          <span>{{ retreatsNumber }}</span> {{ 'home.summary.retreats' | translate }}
        </p>
      </div>
    </div>

    <div align="center" *rekoAuthRoles="['ADMIN']" style="padding-top: 18px">
      <div>
        <h5>{{ 'home.actions.what-now-question' | translate }}</h5>
      </div>

      <div class="button-row">
        <button mat-raised-button color="primary" (click)="navigate('/members')">
          {{ 'home.actions.manage-members' | translate }}
        </button>
        <button mat-raised-button color="primary">
          {{ 'home.actions.manage-animators' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="navigate('/parish')">
          {{ 'home.actions.manage-communities' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="navigate('/retreats')">
          {{ 'home.actions.manage-retreats' | translate }}
        </button>
      </div>
    </div>

    <div align="center" style="padding-top: 32px">
      <h3 class="mat-h3">{{ 'home.footer.want-participate-question' | translate }}</h3>
      <h4 class="mat-h4">{{ 'home.footer.contact-us' | translate }}:</h4>
      <div class="button-row">
        <button mat-raised-button color="primary">Gitlab</button>
        <button mat-raised-button color="primary">Email</button>
      </div>
    </div>
  </div>

  <div class="p-5">
    <mat-card>
      <mat-card-header><h2>Szybkie testy</h2></mat-card-header>
      <mat-card-content>
        <mat-card style="width: 500px">
          <mat-card-content>
            <form [formGroup]="testEmailForm">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Wyślij testowy email</mat-label>
                    <input matInput placeholder="Adres email" formControlName="email" required />
                    <mat-error *ngIf="testEmailForm.get('email').invalid"
                      >Niepoprawny email</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col">
                  <button mat-raised-button color="primary" (click)="sendTestEmail()">
                    Wyślij
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
</div>
