<div [formGroup]="form">
  <reko-section-header
    [title]="'members.sections.personalData.title'"
    [iconName]="'person'"
  ></reko-section-header>

  <div class="row">
    <reko-input-text
      class="col"
      [required]="true"
      [inputControl]="form.get('firstName')"
      [labelKey]="'members.personalData.firstName'"
      [errorMessageKey]="'members.form.validation.firstName'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [required]="true"
      [inputControl]="form.get('lastName')"
      [labelKey]="'members.personalData.lastName'"
      [errorMessageKey]="'members.form.validation.lastName'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [required]="true"
      [inputControl]="form.get('pesel')"
      [labelKey]="'members.personalData.pesel'"
      [errorMessageKey]="getPeselErrorMessage(form.get('pesel'))"
    ></reko-input-text>
  </div>
  <div class="row">
    <mat-form-field class="field-wide col">
      <mat-select
        placeholder="{{ 'members.personalData.schoolType' | translate }}"
        formControlName="schoolType"
      >
        <mat-option *ngFor="let type of schoolTypeKeys" [value]="type">
          {{ schoolType[type] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <reko-input-text
      class="col"
      [inputControl]="form.get('schoolYear')"
      [labelKey]="'members.personalData.schoolYear'"
    ></reko-input-text>
  </div>
  <div class="row">
    <reko-input-text
      class="col"
      [inputControl]="form.get('placeOfBirth')"
      [labelKey]="'members.personalData.placeOfBirth'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [inputControl]="form.get('nameDay')"
      [labelKey]="'members.personalData.nameDay'"
    ></reko-input-text>
    <reko-datepicker
      *rekoAllowedStages="[stages.ONZ_I, stages.ONZ_II, stages.ONZ_III]"
      class="col"
      [inputControl]="form.get('christeningDate')"
      [labelKey]="'members.personalData.christeningDate'"
    ></reko-datepicker>
  </div>

  <reko-address-form
    [address]="address"
    (formReady)="onSubFormInitialized('address', $event)"
  ></reko-address-form>

  <reko-section-header
    [title]="'members.sections.personalData.contact'"
    [iconName]="'contact_phone'"
  ></reko-section-header>

  <div class="row">
    <reko-input-text
      class="col"
      [inputControl]="form.get('phoneNumber')"
      [labelKey]="'members.personalData.phoneNumber'"
      [errorMessageKey]="'shared.form.validation.phoneNumber'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [inputControl]="form.get('email')"
      [labelKey]="'members.personalData.email'"
      [errorMessageKey]="'shared.form.validation.email'"
    ></reko-input-text>
  </div>

  <reko-section-header
    [title]="'members.sections.personalData.family'"
    [iconName]="'people'"
  ></reko-section-header>

  <reko-contact-info-form
    [title]="'members.personalData.father.title'"
    [contactInfo]="father"
    (formReady)="onSubFormInitialized('father', $event)"
  ></reko-contact-info-form>

  <reko-contact-info-form
    [title]="'members.personalData.mother.title'"
    [contactInfo]="mother"
    (formReady)="onSubFormInitialized('mother', $event)"
  ></reko-contact-info-form>

  <reko-contact-info-form
    [title]="'members.personalData.emergencyContact.title'"
    [contactInfo]="emergencyContact"
    (formReady)="onSubFormInitialized('emergencyContact', $event)"
  ></reko-contact-info-form>

  <reko-section-header
    [title]="'members.sections.personalData.community'"
    [iconName]="'people'"
  ></reko-section-header>

  <reko-community-picker
    [value]="personalData ? personalData.communityId : null"
    [inputControl]="form.get('communityId')"
  ></reko-community-picker>

  <reko-parish-picker
    [value]="personalData ? personalData.parishId : null"
    [inputControl]="form.get('parishId')"
  ></reko-parish-picker>
</div>
