<h2 mat-dialog-title>{{ 'shared.delete-confirm.title' | translate }}</h2>
<mat-dialog-content>{{ 'shared.delete-confirm.prompt' | translate }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(true)">
    {{ 'shared.delete-confirm.yes' | translate }}
  </button>
  <button mat-button (click)="dialogRef.close()">
    {{ 'shared.delete-confirm.cancel' | translate }}
  </button>
</mat-dialog-actions>
