<mat-card class="mb-4">
  <mat-card-subtitle>{{
    'members.experience.experience-as-animator' | translate
  }}</mat-card-subtitle>
  <mat-card-content>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'group'"
        [value]="data.leadingGroupToFormationStage"
        [label]="'members.experience.leadingGroupToFormationStage'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.numberOfAnimatorDays"
        [label]="'members.experience.numberOfAnimatorDays'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.communityFunctions"
        [label]="'members.experience.communityFunctions'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.diakonia"
        [label]="'members.experience.diakonia'"
      ></reko-details-row-element>
    </reko-details-row>

    <reko-details-row>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.retreatsAsAnimator"
        [label]="'members.experience.retreatsAsAnimator'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.otherRetreats"
        [label]="'members.experience.otherRetreats'"
      ></reko-details-row-element>
    </reko-details-row>

    <reko-details-row>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.otherSkills"
        [label]="'members.experience.otherSkills'"
      ></reko-details-row-element>
    </reko-details-row>
  </mat-card-content>
</mat-card>
