<mat-card class="mb-4">
  <reko-details-row>
    <reko-details-row-element
      [icon]="'person'"
      [value]="personalData.firstName + ' ' + personalData.lastName"
      [label]="'members.personalData.fullName'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'account_circle'"
      [value]="personalData.pesel"
      [label]="'members.personalData.pesel'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'wc'"
      [value]="formatSex(personalData.sex)"
      [label]="'members.personalData.sex'"
    ></reko-details-row-element>
  </reko-details-row>

  <reko-details-row>
    <reko-details-row-element
      [icon]="'cake'"
      [value]="personalData.birthDate"
      [label]="'members.personalData.birthDate'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'location_on'"
      [value]="personalData.placeOfBirth"
      [label]="'members.personalData.placeOfBirth'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'event_available'"
      [value]="personalData.christeningDate"
      [label]="'members.personalData.christeningDate'"
    ></reko-details-row-element>
  </reko-details-row>

  <reko-details-row>
    <reko-details-row-element
      [icon]="'school'"
      [value]="personalData.schoolYear"
      [label]="'members.personalData.schoolYear'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'school'"
      [value]="personalData.schoolType"
      [label]="'members.personalData.schoolType'"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'cake'"
      [value]="personalData.nameDay"
      [label]="'members.personalData.nameDay'"
    ></reko-details-row-element>
  </reko-details-row>
</mat-card>

<mat-card class="mb-4">
  <div class="row">
    <div class="col">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>contact_phone</mat-icon>
          <h3 mat-line>{{ personalData.phoneNumber }}</h3>
          <p mat-line class="mat-hint">{{ 'members.personalData.phoneNumber' | translate }}</p>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="col"><reko-address-details [address]="address"></reko-address-details></div>

    <div class="col">
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>email</mat-icon>
          <h3 mat-line>{{ personalData.email }}</h3>
          <p mat-line class="mat-hint">{{ 'members.personalData.email' | translate }}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-card>

<div class="mb-2">
  <reko-contact-info-details
    [title]="'members.personalData.father.title'"
    [contact]="personalData.father"
  ></reko-contact-info-details>
</div>

<div class="mb-2">
  <reko-contact-info-details
    [title]="'members.personalData.mother.title'"
    [contact]="personalData.mother"
  ></reko-contact-info-details>
</div>

<div class="mb-2">
  <reko-contact-info-details
    [title]="'members.personalData.emergencyContact.title'"
    [contact]="personalData.emergencyContact"
  ></reko-contact-info-details>
</div>
