<reko-section-header
  [title]="'members.experience.experience-as-animator'"
  [iconName]="'trending_up'"
></reko-section-header>

<div [formGroup]="form">
  <div class="row">
    <mat-form-field class="col" *rekoAllowedStages="[stages.ONZ_I, stages.ONZ_II, stages.ONZ_III]">
      <mat-select
        placeholder="{{ 'members.experience.leadingGroupToFormationStage' | translate }}"
        formControlName="leadingGroupToFormationStage"
      >
        <mat-option *ngFor="let stage of stagesKeys" [value]="stage">
          {{ stages[stage] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <reko-input-text
      class="col"
      [inputControl]="form.get('numberOfAnimatorDays')"
      [labelKey]="'members.experience.numberOfAnimatorDays'"
    ></reko-input-text>

    <mat-form-field class="col">
      <mat-select
        placeholder="{{ 'members.experience.diakonia' | translate }}"
        formControlName="diakonia"
      >
        <mat-option *ngFor="let diakonia of diakoniasKeys" [value]="diakonia">
          {{ diakonias[diakonia] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <reko-input-text
      class="col"
      [inputControl]="form.get('communityFunctions')"
      [labelKey]="'members.experience.communityFunctions'"
    ></reko-input-text>
  </div>

  <div class="row">
    <mat-form-field class="col">
      <mat-select
        multiple
        placeholder="{{ 'members.experience.otherSkills' | translate }}"
        formControlName="otherSkills"
      >
        <mat-option *ngFor="let skill of otherSkillsKeys" [value]="skill">
          {{ otherSkills[skill] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-select
        multiple
        placeholder="{{ 'members.experience.otherRetreats' | translate }}"
        formControlName="otherRetreats"
      >
        <mat-option *ngFor="let retreat of otherRetreatsKeys" [value]="retreat">
          {{ otherRetreats[retreat] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <reko-input-text
      class="col"
      [inputControl]="form.get('retreatsAsAnimator')"
      [labelKey]="'members.experience.retreatsAsAnimator'"
    ></reko-input-text>
  </div>
</div>
