<mat-tab-group>
  <mat-tab [label]="'verification.main.to-verify' | translate">
    <div class="pt-3">
      <reko-application-list-view
        [title]="'verification.list.to-verify' | translate"
        [applications]="pendingApplications$ | async"
        [displayedColumns]="displayedColumns"
        [addNewEnabled]="true"
        (select)="onSelect($event)"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (import2)="onImport2()"
      ></reko-application-list-view>
    </div>
  </mat-tab>
  <mat-tab [label]="'verification.main.already-verified' | translate">
    <div class="pt-3">
      <reko-application-list-view
        [title]="'verification.list.already-verified' | translate"
        [applications]="verifiedApplications$ | async"
        [displayedColumns]="displayedColumns"
        (select)="onSelect($event)"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)"
      ></reko-application-list-view>
    </div>
  </mat-tab>
</mat-tab-group>
