<mat-spinner *ngIf="(communitiesLoading | async); else: communitiesList"></mat-spinner>
<ng-template #communitiesList>
  <reko-community-list
    [communities]="communities | async"
    (addNew)="onAdd($event)"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  >
  </reko-community-list>
</ng-template>
