<mat-card>
  <mat-card-header>
    <h3>{{ 'registration.available-retreats' | translate }}</h3>
  </mat-card-header>
  <mat-card-content>
    <reko-shared-retreats-table
      [retreats]="availableRetreats$ | async"
      [editable]="false"
      [registration]="true"
      [displayedColumns]="displayedColumns"
      (registerOnRetreat)="onRegister($event)"
    ></reko-shared-retreats-table>
  </mat-card-content>
</mat-card>
