<reko-section-header
  [title]="'members.experience.continuousFormation'"
  [iconName]="'trending_up'"
></reko-section-header>

<div [formGroup]="form">
  <div class="row">
    <reko-input-text
      class="col"
      [inputControl]="form.get('formationMeetingsInMonth')"
      [labelKey]="'members.experience.formationMeetingsInMonth'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [inputControl]="form.get('numberOfCommunionDays')"
      [labelKey]="'members.experience.numberOfCommunionDays'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [inputControl]="form.get('numberOfPrayerRetreats')"
      [labelKey]="'members.experience.numberOfPrayerRetreats'"
    ></reko-input-text>
  </div>
</div>
