<reko-section-header [title]="title" [iconName]="'location_on'"></reko-section-header>

<div [formGroup]="form">
  <div class="row">
    <reko-input-text
      class="col"
      [inputControl]="form.get('fullName')"
      [labelKey]="'members.personalData.contact.fullName'"
    ></reko-input-text>

    <reko-input-text
      class="col"
      [inputControl]="form.get('phoneNumber')"
      [labelKey]="'members.personalData.contact.phoneNumber'"
    ></reko-input-text>
    <reko-input-text
      class="col"
      [inputControl]="form.get('email')"
      [labelKey]="'members.personalData.contact.email'"
    ></reko-input-text>
  </div>
</div>
