<mat-card class="mb-4">
  <mat-card-subtitle>
    {{ 'members.experience.deuterocatechumenate' | translate }}
  </mat-card-subtitle>
  <mat-card-content>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'event_available'"
        [value]="_data.year"
        [label]="'members.experience.deuterocatechumenateYear'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'local_hospital'"
        [value]="_data.missionCelebrationYear"
        [label]="'members.experience.missionCelebrationYear'"
      ></reko-details-row-element>
    </reko-details-row>

    <reko-details-row>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="stepsTakenOrPlanned"
        [label]="'members.experience.steps'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'local_hospital'"
        [value]="_data.callByNameCelebrationYear"
        [label]="'members.experience.callByNameCelebrationYear'"
      ></reko-details-row-element>
    </reko-details-row>

    <reko-details-row>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="celebrationsTakenOrPlanned"
        [label]="'members.experience.celebrations'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'local_hospital'"
        [value]="_data.holyTriduumYear"
        [label]="'members.experience.holyTriduumYear'"
      ></reko-details-row-element>
    </reko-details-row>
  </mat-card-content>
</mat-card>
