<div class="container" *ngIf="member">
  <ng-container>
    <mat-card>
      <mat-card-header class="d-flex">
        <h3 class="mr-auto">
          {{ member.personalData.firstName + ' ' + member.personalData.lastName }}
        </h3>
        <!--
          <reko-member-status [memberStatus]="currentMemberStatus" class="px-1"></reko-member-status>
        -->
        <!-- <reko-payment-status -->
        <!-- [paymentStatus]="currentPaymentStatus" -->
        <!-- class="px-1" -->
        <!-- ></reko-payment-status> -->
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab [label]="'Dane'">
            <div class="p-1">
              <reko-member-details-view [member]="member$ | async"></reko-member-details-view>
            </div>
          </mat-tab>
          <mat-tab [label]="'Opinie'">
            <div class="p-1 container-fluid">
              <reko-opinions-details
                [opinions]="(member$ | async).opinions"
              ></reko-opinions-details>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>

      <mat-card-actions>
        <mat-list>
          <mat-list-item>
            <reko-button
              [icon]="'chevron_left'"
              [primary]="true"
              [label]="'shared.details.actions.back'"
              (clicked)="goBack()"
            ></reko-button>
            <reko-button
              [icon]="'mode_edit'"
              [label]="'shared.details.actions.edit'"
              (clicked)="edit()"
            ></reko-button>
            <reko-button
              [icon]="'delete'"
              [label]="'shared.details.actions.remove'"
              (clicked)="delete()"
            ></reko-button>
          </mat-list-item>
        </mat-list>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
