<div class="container user-profile-page user-profile-page__card">
  <mat-card>
    <mat-card-header
      ><h2>{{ 'Profil użytkownika' }}</h2></mat-card-header
    >
    <mat-card-content>
      <reko-user-form
        [user]="currentUser$ | async"
        (formOutput)="onProfileUpdate($event)"
      ></reko-user-form>
    </mat-card-content>
  </mat-card>
</div>
