<reko-section-header
  [title]="'members.experience.KWC.title'"
  [iconName]="'accessibility_new'"
></reko-section-header>

<div [formGroup]="form" class="row">
  <mat-form-field class="col">
    <mat-select
      placeholder="{{ 'members.experience.KWC.status' | translate }}"
      formControlName="status"
    >
      <mat-option value="NOT_ENGAGED">
        {{ 'members.experience.KWC.not-engaged' | translate }}
      </mat-option>
      <mat-option value="CANDIDATE">
        {{ 'members.experience.KWC.candidate' | translate }}
      </mat-option>
      <mat-option value="MEMBER"> {{ 'members.experience.KWC.member' | translate }} </mat-option>
    </mat-select>
  </mat-form-field>
  <reko-datepicker
    class="col"
    [inputControl]="yearControl"
    [labelKey]="'members.experience.KWC.since'"
  ></reko-datepicker>
</div>
