<form [formGroup]="form" class="col-md-10">
  <mat-form-field class="field-wide">
    <input
      matInput
      required
      [placeholder]="'community.form.name.placeholder' | translate"
      formControlName="name"
    />
    <mat-error *ngIf="form.get('name').invalid">{{
      'community.form.name.validation' | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input
      matInput
      required
      [placeholder]="'community.form.address.placeholder' | translate"
      formControlName="address"
    />
    <mat-error *ngIf="form.get('address').invalid">{{
      'community.form.address.validation' | translate
    }}</mat-error>
  </mat-form-field>
</form>
<button mat-button (click)="cancel()">{{ 'shared.form.actions.cancel' | translate }}</button>
<button mat-button (click)="submit()">{{ 'shared.form.actions.save' | translate }}</button>
