<div [formGroup]="form">
  <reko-section-header [title]="'Turnus rekolekcyjny'" [iconName]="'person'"></reko-section-header>

  <mat-form-field>
    <mat-label>Wybierz turnus rekolekcyjny</mat-label>
    <mat-select formControlName="retreatId">
      <mat-option *ngFor="let retreat of retreats" [value]="retreat.id">
        {{ retreat | summarizeRetreatTurn }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <reko-contact-info-form
    [title]="'Osoba poręczająca'"
    [contactInfo]="surety"
    (formReady)="onSubFormInitialized('surety', $event)"
  ></reko-contact-info-form>
</div>
