.fill-space {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;

  &.active {
    filter: brightness(120%);
    color: #673ab7;
  }
}

.active {
  filter: brightness(120%);
  color: #673ab7;
}

.main-heading {
  font-weight: bold;
  font-size: 24px;
}
