<mat-toolbar role="heading">
  <button mat-button [routerLink]="['/']">
    <span class="main-heading">{{ 'title' | translate }}</span>
  </button>
  <button
    mat-button
    [routerLink]="['/retreats']"
    *rekoAuthRoles="['DOR', 'ADMIN']"
    routerLinkActive="active"
  >
    {{ 'navigation.menu.retreats' | translate }}
  </button>
  <button
    mat-button
    [routerLink]="['/verification']"
    *rekoAuthRoles="['DOR', 'ADMIN']"
    routerLinkActive="active"
  >
    {{ 'navigation.menu.verification' | translate }}
  </button>
  <button
    mat-button
    [routerLink]="['/members']"
    *rekoAuthRoles="['ADMIN']"
    routerLinkActive="active"
  >
    {{ 'navigation.menu.members' | translate }}
  </button>
  <button
    mat-button
    [routerLink]="['/registration']"
    *rekoAuthRoles="['USER', 'DOR', 'ADMIN']"
    routerLinkActive="active"
  >
    <mat-icon>warning</mat-icon>
    {{ 'navigation.menu.registration' | translate }}
  </button>
  <button
    mat-button
    [routerLink]="['/moderation']"
    *rekoAuthRoles="['DOR', 'MODERATOR', 'ADMIN']"
    routerLinkActive="active"
  >
    <mat-icon>warning</mat-icon>
    {{ 'navigation.menu.moderation' | translate }}
  </button>
  <button
    mat-button
    [routerLink]="['/opinions']"
    *rekoAuthRoles="['DOR', 'ADMIN']"
    routerLinkActive="active"
  >
    <mat-icon>warning</mat-icon>
    {{ 'navigation.menu.opinions' | translate }}
  </button>
  <div *rekoAuthRoles="['ADMIN']">
    <button mat-button [matMenuTriggerFor]="dioceseMenu">
      {{ 'navigation.menu.diocese' | translate }}
    </button>
    <mat-menu #dioceseMenu="matMenu">
      <button mat-menu-item [routerLink]="['/parish']" routerLinkActive="active">
        {{ 'navigation.menu.parishes' | translate }}
      </button>
      <button mat-menu-item [routerLink]="['/community']" routerLinkActive="active">
        {{ 'navigation.menu.communities' | translate }}
      </button>
    </mat-menu>
  </div>
  <span class="fill-space"></span>
  <reko-user-menu></reko-user-menu>
</mat-toolbar>
