<reko-section-header
  [title]="'members.personalData.address.title'"
  [iconName]="'location_on'"
></reko-section-header>

<div [formGroup]="form">
  <div class="row">
    <reko-input-text
      class="col-md-7"
      [inputControl]="form.get('streetName')"
      [labelKey]="'members.personalData.address.streetName'"
    ></reko-input-text>
    <reko-input-text
      class="col-md-1"
      [inputControl]="form.get('streetNumber')"
      [labelKey]="'members.personalData.address.streetNumber'"
    ></reko-input-text>
    <reko-input-text
      class="col-md-1"
      [inputControl]="form.get('flatNumber')"
      [labelKey]="'members.personalData.address.flatNumber'"
    ></reko-input-text>
  </div>

  <div class="row">
    <reko-input-text
      class="col-md-7"
      [inputControl]="form.get('city')"
      [labelKey]="'members.personalData.address.city'"
    ></reko-input-text>
    <reko-input-text
      class="col-md-2"
      [inputControl]="form.get('postalCode')"
      [labelKey]="'members.personalData.address.postalCode'"
    ></reko-input-text>
  </div>
</div>
