<div class="container-fluid">
  <mat-card>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          {{ 'community.list.columns.name' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let community">{{ community.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>
          {{ 'community.list.columns.address' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let community">{{ community.address }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>
          {{ 'shared.list.actions.column-title' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let community">
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu>
            <reko-action-menu-buttons
              [isDelete]="true"
              [isEdit]="true"
              (delete)="openConfirmDeleteAlert(community.id)"
              (edit)="openAddEditDialog(community)"
            >
            </reko-action-menu-buttons>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <button mat-button (click)="openAddEditDialog()">
      <mat-icon>add</mat-icon> {{ 'shared.list.actions.add' | translate }}
    </button>
  </mat-card>
</div>
