<div class="container login-page login-page__card">
  <mat-card>
    <div>
      <form
        #loginForm="ngForm"
        [formGroup]="form"
        (ngSubmit)="authorize()"
        [class.form-submitted]="loginForm.submitted"
      >
        <mat-card-title class="title-login">{{ 'auth.login-title' | translate }}</mat-card-title>
        <mat-card-content>
          <p>{{ message }}</p>
          <mat-form-field class="col-md-10">
            <input
              id="login-input"
              matInput
              type="text"
              formControlName="username"
              placeholder="{{ 'auth.username' | translate }}"
            />
            <mat-hint>
              <mat-error *ngIf="form.get('username').touched && form.get('username').invalid">{{
                'auth.validation.login' | translate
              }}</mat-error>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="col-md-10">
            <input
              id="password-input"
              matInput
              type="password"
              formControlName="password"
              placeholder="{{ 'auth.password' | translate }}"
            />
            <mat-hint>
              <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">{{
                'auth.validation.password' | translate
              }}</mat-error>
            </mat-hint>
          </mat-form-field>

          <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        </mat-card-content>
        <mat-card-actions>
          <div class="checkbox-and-button">
            <div
              class="login-button-container login-button"
              [class.inactive]="authorizationInProgress"
            >
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="authorizationInProgress"
              >
                {{ 'auth.actions.login' | translate }}
              </button>
              <button mat-raised-button [routerLink]="['/users/sign-up']">Zarejestruj się</button>
            </div>
          </div>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>
