<form [formGroup]="form" class="col-md-10">
  <mat-form-field class="field-wide">
    <input
      matInput
      placeholder="{{ 'usersManagement.form.username.placeholder' | translate }}"
      formControlName="username"
    />
    <mat-error *ngIf="form.get('username').hasError('required')">
      {{ 'usersManagement.form.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field-wide">
    <input
      matInput
      placeholder="{{ 'usersManagement.form.email.placeholder' | translate }}"
      formControlName="email"
    />
    <mat-error *ngIf="form.get('email').hasError('required')">
      {{ 'usersManagement.form.required' | translate }}
    </mat-error>
  </mat-form-field>

  <div formGroupName="password" *ngIf="showPasswordForm">
    <mat-form-field class="field-wide">
      <input
        matInput
        type="password"
        placeholder="{{ 'usersManagement.form.password.placeholder' | translate }}"
        formControlName="password"
      />
      <mat-error *ngIf="passwordFormGroup.get('password').hasError('required')">
        {{ 'usersManagement.form.required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-wide">
      <input
        matInput
        type="password"
        placeholder="{{ 'usersManagement.form.confirmPassword.placeholder' | translate }}"
        formControlName="confirmPassword"
        [errorStateMatcher]="groupStateMatcher"
      />
      <mat-error *ngIf="passwordFormGroup.get('confirmPassword').hasError('required')">
        {{ 'usersManagement.form.required' | translate }}
      </mat-error>
      <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
        {{ 'usersManagement.form.password.notSame' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-slide-toggle formControlName="enabled" *ngIf="showActiveForm">Aktywny</mat-slide-toggle>

  <mat-form-field class="field-wide" *ngIf="showRolesForm">
    <mat-select
      formControlName="roles"
      placeholder="{{ 'usersManagement.form.roles' | translate }}"
      multiple
    >
      <mat-option *ngFor="let role of roleKeys" [value]="role"> {{ roles[role] }} </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button mat-button (click)="cancel()">{{ 'shared.form.actions.cancel' | translate }}</button>
<button mat-button (click)="submit()">{{ 'shared.form.actions.save' | translate }}</button>
