<reko-section-header
  [title]="'members.experience.historicalRetreats'"
  [iconName]="'toc'"
></reko-section-header>

<!-- <mat-divider [inset]="true"></mat-divider> -->
<!-- <h6 mat-subheader>Poprzednie rekolekcje</h6> -->
<div>
  <!-- <reko-historical-retreat-form -->
  <!-- *ngFor="let retreat of historicalRetreats; let i = index" -->
  <!-- [index]="i" -->
  <!-- [retreatData]="retreat" -->
  <!-- (removed)="retreatsFormArray.removeAt($event)" -->
  <!-- &gt; -->
  <!-- </reko-historical-retreat-form> -->
  <reko-historical-retreat-form
    *ngFor="let retreat of retreatsFormArray.controls; let i = index"
    [index]="i"
    [historicalRetreatForm]="retreat"
    (removed)="retreatsFormArray.removeAt($event)"
  >
  </reko-historical-retreat-form>
  <button mat-button color="primary" (click)="addRetreat()">Dodaj historyczne rekolekcje</button>
</div>
