<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        text-align: center;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Odrzucenie zgłoszenia</h1>
    <p>
      Z przykrością informujemy o odrzucenia Twojego zgłoszenia na rekolekcje:
    </p>
    <p th:text="${retreat}">nazwa rekolekcji</p>
    <p>Powód odrzucenia:</p>
    <p th:text="${rejectionReason}">powód odrzucenia</p>

    <p>
      Diakonia Oaz Rekolekcyjnych<br />
      Ruch Światło-Życie Archidiecezji Warszawskiej
    </p>
  </body>
</html>
