<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="${recipient}"></p>
    <p th:text="${text}"></p>
    <p><em th:text="${sender}"></em> <br /></p>
  </body>
</html>
