<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        text-align: center;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Prośba o przesłanie opinii o uczestniku</h1>
    <p>
      Informujemy, że otrzymaliśmy prośbę o wypełnienie ankiety z opinią o
      uczestniku rekolekcji:
    </p>
    <p th:text="${name}">Anna Przykładna</p>
    <p>Ankieta jest dostępna po otwarciu linka w przeglądarce:</p>
    <a
      th:href="${opinionLink}"
      th:text="${opinionLink}"
      href="http://link-to-opinion"
      >http://link-to-opinion</a
    >
    <p>
      Diakonia Oaz Rekolekcyjnych<br />
      Ruch Światło-Życie Archidiecezji Warszawskiej
    </p>
  </body>
</html>
