<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        text-align: center;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Potwierdzenie rejestracji</h1>
    <p>Szczęść Boże,</p>
    <p>
      potwierdzamy Twoje uczestnictwo na rekolekcjach:
      <span th:text="${retreat}">NAZWA_REKOLEKCJI TURNUS</span>
    </p>
    <p>
      O dalszych etapach przetwarzania zgłoszenia poinformujemy w kolejnych
      wiadomościach.
    </p>

    <p>
      Z poważaniem,<br />
      Diakonia Oaz Rekolekcyjnych Archidiecezji Warszawskiej
    </p>
  </body>
</html>
