<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        text-align: center;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <p>Szczęść Boże,</p>
    <p>gratulujemy pozytywnego przejścia procesu weryfikacji!</p>

    <p>
      Zgodnie z porządkiem rejestracji, przesyłamy kartę zgłoszeniową. Prosimy
      ją uważnie przeczytać i odpowiednio wypełnić.
      <a
        th:href="${attachmentLink}"
        th:text="${attachmentLink}"
        href="http://attachment-link"
        >Link do pobrania karty zgłoszeniowej</a
      >
    </p>

    <p>
      Prosimy również uważnie zapoznać się z dokumentami pod poniższym linkiem.
      Znajdują się tam zasady uczestnictwa w rekolekcjach, zasady zapisów na
      rekolekcje oraz klauzula informacyjna dotycząca przetwarzania danych
      osobowych:
      <a
        href="http://www.oaza.warszawa.pl/wp/rekolekcje/oaza-zywego-kosciola/do-pobrania/"
      >
        http://www.oaza.warszawa.pl/wp/rekolekcje/oaza-zywego-kosciola/do-pobrania/
      </a>
    </p>

    <p>
      Dokumenty będą przyjmowane na stacjonarnych dyżurach Diakonii Oaz
      Rekolekcyjnych, których miejsce i czas podamy w kolejnym mailu. Mogą
      zostać przywiezione przez dowolną osobę. Zaleca się jednak by był to
      uczestnik, animator, moderator lub rodzic/opiekun prawny, by ewentualne
      problemy rozwiązać od razu na miejscu. Warunkiem przyjęcia dokumentów
      przez Diakonię Oaz Rekolekcyjnych na dyżurach stacjonarnych jest ich
      poprawne wypełnienie. Jednocześnie informujemy, iż nie ma możliwości
      przesłania skanu wypełnionych dokumentów, chyba, że uczestnik jest spoza
      diecezji.
    </p>

    <p>
      W ciągu 7 dni od otrzymania tego maila należy przelać zadatek w wysokości
      400zł. Wpłacenie zadatku jest warunkiem przyjęcia kart na zapisach
      stacjonarnych. Prosimy, by osoba dostarczająca dokumenty na zapisy
      stacjonarne miała możliwość okazania potwierdzenia wykonania przelewu (np.
      w telefonie).
    </p>

    <p>
      W tytule przelewu prosimy wpisać "Zadatek" oraz imię i nazwisko
      uczestnika. Dane konta podane są poniżej:
    </p>

    <p>
      Diakonia Ruchu Światło-Życie Archidiecezji Warszawskiej<br />
      77 2490 0005 0000 4600 2226 5778<br />
      ul. Gójecka 38 02-314 Warszawa
    </p>

    <p>
      W razie pytań, prosimy o wiadomość na adres: rekolekcje@oaza.warszawa.pl.
      Na ten adres prosimy, również zgłaszać indywidualne przypadki, które nie
      zostały przewidziane w procesie zapisów.
    </p>

    <p>
      Z poważaniem,<br />
      Diakonia Oaz Rekolekcyjnych Archidiecezji Warszawskiej
    </p>
  </body>
</html>
