<div class="container">
  <mat-card>
    <mat-card-header class="d-flex">
      <h2 class="mr-auto">{{ application.member.id | findMemberFullName | async }}</h2>
      <reko-retreat-application-badges
        [retreatApplication]="application"
        [isAnimator]="animator"
      ></reko-retreat-application-badges>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab [label]="'verification.application.details.retreat-application' | translate">
          <div class="p-1">
            <div *ngIf="animator">
              <reko-current-application-details
                [application]="application"
                (assign)="onSelectRetreat($event)"
              ></reko-current-application-details>
            </div>
            <div *ngIf="!animator">
              <reko-participant-application-details
                [application]="application"
              ></reko-participant-application-details>
            </div>
          </div>
        </mat-tab>
        <mat-tab [label]="'verification.application.details.member-data' | translate">
          <div class="p-1">
            <reko-member-details-view [member]="application.member"></reko-member-details-view>
          </div>
        </mat-tab>
        <mat-tab [label]="'verification.application.details.member-opinions' | translate">
          <div class="p-1">
            <reko-opinions-details [opinions]="application.member.opinions"></reko-opinions-details>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

    <mat-card-actions>
      <reko-application-status-actions
        [applicationStatus]="currentMemberStatus"
        (onChangeStatus)="onChangeApplicationStatus($event)"
      ></reko-application-status-actions>

      <div class="p-2"></div>

      <reko-payment-status-actions
        [paymentStatus]="currentPaymentStatus"
        (onChangeStatus)="onChangePaymentStatus($event)"
      ></reko-payment-status-actions>

      <div class="p-2"></div>

      <mat-list>
        <mat-list-item>
          <reko-button
            [icon]="'chevron_left'"
            [primary]="true"
            [label]="'shared.details.actions.back'"
            (clicked)="onGoBack()"
          ></reko-button>
          <reko-button
            [icon]="'mode_edit'"
            [label]="'shared.details.actions.edit'"
            (clicked)="onEdit()"
          ></reko-button>
          <reko-button
            [icon]="'delete'"
            [label]="'shared.details.actions.remove'"
            (clicked)="onDelete()"
          ></reko-button>
        </mat-list-item>
      </mat-list>
    </mat-card-actions>
  </mat-card>
</div>
