<h2 mat-dialog-title>{{ 'usersManagement.dialog.changePassword' | translate }}</h2>
<mat-dialog-content>
  <reko-change-password-form
    [username]="username"
    (formOutput)="onFormOutput($event)"
  ></reko-change-password-form>
</mat-dialog-content>
