<mat-card class="mb-4">
  <mat-card-subtitle>{{
    'members.sections.parishAndCommunityDetails.community' | translate
  }}</mat-card-subtitle>
  <span *ngIf="!community">Brak wspólnoty</span>
  <reko-details-row *ngIf="community">
    <reko-details-row-element
      [icon]="'group'"
      [label]="'community.name'"
      [value]="community.name"
    ></reko-details-row-element>
    <reko-details-row-element
      [icon]="'location_on'"
      [label]="'community.address'"
      [value]="community.address"
    ></reko-details-row-element>
  </reko-details-row>
</mat-card>
