<div class="container-fluid">
  <mat-card>
    <mat-card-title class="d-flex">
      <div class="mr-auto">{{ title | translate }}</div>

      <button mat-button (click)="onAddNew()" type="button" *ngIf="addNewEnabled">
        <mat-icon>add</mat-icon>
        {{ 'shared.list.actions.add' | translate }}
      </button>
      <button mat-button (click)="onImport2()" type="button" *ngIf="addNewEnabled">
        <mat-icon>import_export</mat-icon>
        {{ 'shared.list.actions.importData' | translate }}
      </button>
      <!-- <div class="export-data-button"> -->
      <!-- <a [download]="defaultFileName" [href]="exportUrl"> -->
      <!-- <button mat-button type="button"> -->
      <!-- <mat-icon>cloud_download</mat-icon> -->
      <!-- {{ 'shared.list.actions.exportData' | translate }} -->
      <!-- </button> -->
      <!-- </a> -->
      <!-- </div> -->
    </mat-card-title>

    <reko-application-list-view-filter
      [applications]="applications"
      (filterChange)="onFilterChange($event)"
    ></reko-application-list-view-filter>

    <mat-progress-spinner *ngIf="dataLoading; else: table"></mat-progress-spinner>

    <ng-template #table>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >{{ 'members.list.columns.firstName' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let application"> {{ application.firstName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.lastName' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let application"> {{ application.lastName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isAnimator">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'Typ zgłoszenia' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let application">
            {{ application.isAnimator ? 'Animator' : 'Uczestnik' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="selectedRetreat">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.currentApplicationStage' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let application">
            {{ application.retreatId | findRetreat | async | summarizeRetreatTurn }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="memberStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.memberStatus' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let application">
            <reko-member-status [memberStatus]="application.status"></reko-member-status>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="paymentStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'members.list.columns.paymentStatus' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let application">
            <reko-payment-status [paymentStatus]="application.paymentStatus"></reko-payment-status>
          </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="community"> -->
        <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> -->
        <!-- {{ 'members.list.columns.community' | translate }} -->
        <!-- </mat-header-cell> -->
        <!-- <mat-cell *matCellDef="let application"> -->
        <!-- {{ application.communityId | findCommunity | async | formatCommunity }} -->
        <!-- </mat-cell> -->
        <!-- </ng-container> -->

        <!-- <ng-container matColumnDef="parish"> -->
        <!-- <mat-header-cell *matHeaderCellDef mat-sort-header> -->
        <!-- {{ 'members.list.columns.parish' | translate }} -->
        <!-- </mat-header-cell> -->
        <!-- <mat-cell *matCellDef="let member"> -->
        <!-- {{ member.parishId | findParish | async | formatParish }} -->
        <!-- </mat-cell> -->
        <!-- </ng-container> -->

        <ng-container matColumnDef="options">
          <mat-header-cell *matHeaderCellDef>
            {{ 'shared.list.actions.column-title' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let application">
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu>
              <reko-action-menu-buttons
                [isDelete]="true"
                [isDetails]="true"
                [isEdit]="true"
                (delete)="onDelete(application)"
                (details)="onSelect(application)"
                (edit)="onEdit(application)"
              >
              </reko-action-menu-buttons>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onSelect(row); $event.stopPropagation()"
        >
        </mat-row>
      </mat-table>
    </ng-template>

    <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </mat-card>
</div>
