/*These css is needed to display full text in mat-list-items.
Initially height of mat-list-item height is limited to 48px, so we need to override height property of
mat-list and mat-list-item.*/

::ng-deep .height-initial {
  height: initial !important;
}

::ng-deep .d-text-full {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
