<reko-section-header
  [title]="'verification.application.transport.title' | translate"
  [iconName]="'person'"
></reko-section-header>

<div [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ 'verification.application.transport.to' | translate }}</mat-label>
    <mat-select formControlName="to" multiple>
      <mat-option [value]="'BUS'">{{
        'verification.application.transport.bus' | translate
      }}</mat-option>
      <mat-option [value]="'OWN'">{{
        'verification.application.transport.own' | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'verification.application.transport.from' | translate }}</mat-label>
    <mat-select formControlName="from" multiple>
      <mat-option [value]="'BUS'">{{
        'verification.application.transport.bus' | translate
      }}</mat-option>
      <mat-option [value]="'OWN'">{{
        'verification.application.transport.own' | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
