<h3 mat-dialog-title>{{ 'verification.animator-vs-participant.dialog-title' | translate }}</h3>
<mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="m-2 col">
        <button class="p-2" mat-raised-button color="primary" (click)="onParticipant()">
          {{ 'verification.animator-vs-participant.participant' | translate }}
        </button>
      </div>
      <div class="m-2 col">
        <button class="p-2" mat-raised-button color="accent" (click)="onAnimator()">
          {{ 'verification.animator-vs-participant.animator' | translate }}
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions> </mat-dialog-actions>
