<div [formGroup]="historicalRetreatForm">
  <div class="row">
    <mat-form-field class="col">
      <mat-select
        placeholder="{{ 'members.experience.retreat.stage' | translate }}"
        formControlName="stage"
      >
        <mat-option *ngFor="let stage of stagesKeys" [value]="stage">
          {{ stages[stage] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col">
      <input
        #year
        matInput
        maxlength="4"
        placeholder="{{ 'members.experience.retreat.year' | translate }}"
        formControlName="year"
      />
      <mat-error *ngIf="yearControl.touched && yearControl.invalid">
        {{ getYearValidationErrorMessage() }}
      </mat-error>
    </mat-form-field>
    <div class="col-md-1">
      <button mat-button color="warn" (click)="removed.emit(index)">x</button>
    </div>
  </div>
</div>
