<div class="d-flex">
  <mat-chip-list class="px-1">
    <mat-chip selected [style.background-color]="'blue'">
      {{ retreatApplication.retreatId | findRetreat | async | summarizeRetreatTurn }}
    </mat-chip>
  </mat-chip-list>
  <mat-chip-list class="px-1" *ngIf="isAnimator">
    <mat-chip selected [style.background-color]="'green'">Animator</mat-chip>
  </mat-chip-list>
  <reko-member-status [memberStatus]="retreatApplication.status" class="px-1"></reko-member-status>
  <reko-payment-status
    [paymentStatus]="retreatApplication.paymentStatus"
    class="px-1"
  ></reko-payment-status>
</div>
