<h2 mat-dialog-title>{{ dialogTitle$ | async }}</h2>
<mat-dialog-content>
  <reko-user-form
    [user]="user"
    [showPasswordForm]="showPasswordForm"
    (formOutput)="onFormOutput($event)"
  ></reko-user-form>
</mat-dialog-content>
