<mat-card class="mb-4">
  <mat-card-subtitle>{{ 'members.experience.continuousFormation' | translate }}</mat-card-subtitle>
  <mat-card-content>
    <reko-details-row>
      <reko-details-row-element
        [icon]="'group'"
        [value]="data.formationInSmallGroup"
        [label]="'members.experience.formationInSmallGroup'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.formationMeetingsInMonth"
        [label]="'members.experience.formationMeetingsInMonth'"
      ></reko-details-row-element>
    </reko-details-row>

    <reko-details-row>
      <reko-details-row-element
        [icon]="'group'"
        [value]="data.numberOfCommunionDays"
        [label]="'members.experience.numberOfCommunionDays'"
      ></reko-details-row-element>
      <reko-details-row-element
        [icon]="'format_list_bulleted'"
        [value]="data.numberOfPrayerRetreats"
        [label]="'members.experience.numberOfPrayerRetreats'"
      ></reko-details-row-element>
    </reko-details-row>
  </mat-card-content>
</mat-card>
