<!--<h3 mat-dialog-title>{{ 'members.list.import.dialogTitle' | translate }}</h3>-->
<!--<mat-dialog-content class="import-dialog__upload-button">-->
<!--  <button mat-button>-->
<!--    <input-->
<!--      type="file"-->
<!--      ngFileSelect-->
<!--      [options]="uploadOptions"-->
<!--      (uploadOutput)="onUploadOutput($event)"-->
<!--      [uploadInput]="uploadInput"-->
<!--    />-->
<!--  </button>-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close type="button">{{ 'shared.cancel' | translate }}</button>-->
<!--  <button-->
<!--    mat-raised-button-->
<!--    color="primary"-->
<!--    type="button"-->
<!--    [disabled]="fileInvalid"-->
<!--    (click)="submit()"-->
<!--  >-->
<!--    {{ 'shared.upload.file' | translate }}-->
<!--  </button>-->
<!--</mat-dialog-actions>-->
